// heights and width
@import "@/styles/variables.scss";

.vpH {
    height: 100vh;
}

.vpW {
    width: 100vw;
}

.vpContainer {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
}

.content-box {
    box-sizing: content-box;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCenterColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold-inherit {
    font-size: inherit;
    color: inherit;
}
.hidden {
    display: none;
}

.font-size-inherit {
    font-size: inherit;
}

.font-family-inherit {
    font-family: inherit;
}

.font-weight-five {
    font-weight: 500;
}

.position-relative {
    position: relative;
}

.orange-hover:hover {
    color: $orange-color;
}

.overflow-visible {
    overflow: visible;
}

// Matter-styling
.matter-objects {
    position: absolute;
    background: black;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 1.5rem 2rem;
    overflow: hidden;
    border-radius: 7rem;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 6;
    // transition: top .1s ease, left .1s ease; 
}

.matter-object-title {
    color: black;
    overflow: hidden;
    font-size: 1.3rem;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 600;
    z-index: 7;
    overflow: visible;
}

.test-border {
    border: 2px solid red;
}

.fontface-brand {
    font-family: 'Brand', sans-serif;
}

.fontface-fortune {
    font-family: 'Fortune', sans-serif;
}

.fontface-revamped {
    font-family: 'Revamped', sans-serif;
}

.fontface-antonio {
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}

.yellow-color {
    color: var(--yellow) !important;
}

.white-color {
    color: var(--white) !important;
}

.margin-jitter {
    margin: -1px 0;
}
.padding-top-half-rem {
    padding-top:.5rem;
}
.padding-bottom-half-rem {
    padding-bottom:.5rem;
}
.padding-rem {
    padding: 1rem !important;
}