$x-gutter-s:5vw;
$x-gutter-l:2vw;
$orange-color:#CF5C09;

// NAVBAR
$navbar-height-s:9vh;
$navbar-height-l:9vh;
$logoHeight-s:6.5vh;
$logoHeight-l:6vh;
$navbar-padding-s:.8vh;
$navbar-padding-l:1vh;
$hamburger-icon-height:2.5rem;

:root {
    --black:#000000;
    --pink:#f8c1ca;
    --yellow:#f5e495;
    --almond:#f0e2d1;
    --light-green:#d2e5cb;
    --alabaster:#f3eee8;    
    --white:#ffffff;    
  }
